# FastAPI Core
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
# Alternatif jika mysqlclient bermasalah:
# mysqlclient

# Environment Variables
python-dotenv

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Validation & Serialization
pydantic
pydantic-settings

# Development & Testing (Opsional)
pytest
httpx
alembic
